@import 'bootstrap/dist/css/bootstrap.min.css';
@import './utility.scss';
@font-face { 
  font-family: MarkPro; 
  src: url('assets/fonts/MarkPro.ttf');
}
@font-face { 
  font-family: MarkProBold; 
  src: url('assets/fonts/MarkProBold.ttf');
}
@font-face { 
  font-family: MarkProHeavy; 
  src: url('assets/fonts/MarkProHeavy.ttf');
}
@font-face { 
  font-family: MarkProMedium; 
  src: url('assets/fonts/MarkProMedium.ttf');
}
body {
  font-family: MarkProMedium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #171717;
  color: #fff;
}
.nav-link{
  font-family: MarkProMedium; 
  font-size: 18px;
}
/* profile section */
#profile-header{
  padding-top: 70px;
  padding-left: 52px !important;
  padding-right: 52px !important;
  margin-bottom: 40px;
}
#img-section img{
  border-radius: 5px;
}
// #profile-pict{
//   max-width: 380px;
//   max-height: 480px;
// }
#text-section h1{
  color: #fff;
  font-size: 52px;
}
#text-section p{
  font-size: 16px;
}

/* project section */
#projects{
  margin-top: 50px;
  padding-top: 20px;
  padding: 50px;
}
.tag-container{
  font-size: 16px;
  margin-top: 8px !important;
  margin-bottom: 6px !important;
}
.tag{
  margin-right: 8px;
}
#projects h2{
  font-size: 48px;
}
.project-img{
  max-width: 360px;
  max-height: 170px;
  border-radius: 2px;
  margin-bottom: 16px;
}
.project-items{
  text-align: left !important;
  margin: 22px 6px;
}
.project-items h4{
  font-size: 28px;
}
.project-items p{
  font-family: MarkPro;
  font-size: 16px;
}
.box-body{
  height: 21vh;
  margin-bottom: 18px;
}

/* resume page */
.table-education{
  margin-top: 22px;
  font-size: 20px;
}
.td-org{
  width: 852px;
}
.td-org, .td-year{
  color: #fff;
}
.subheader-resume{
  margin-top: 56px;
}
.skill-box{
  margin-bottom: 32px;
}
.prog-box{
  margin: 14px;
  border: 1px solid #ECEBEB;
  border-radius: 5px;
  padding: 20px 20px;
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 203.5px;
  height: 191.5px; 
  transition: background-color 0.2s ease-in-out;
  
}
.prog-box:hover{
  background-color: #DA0037;
}
.prog-box i{
  font-size: 54px;
}
.prog-box h4{
  position: relative;
  margin-top: 8px;
  text-align: center;
}
.prog-box h4::before{
    margin-top: 3px;
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
    width: 50px;
    height: 1px;
    background: #fff;
}

/* contact pages */
#contact-page{
  margin-top: 50px;
}
form .form-floating input, form .form-floating textarea{
  background: transparent !important;
  border-radius: 4px !important;
  color: #fff !important;
  margin-bottom: 20px;
}
form .form-floating input::placeholder, form .form-floating textarea::placeholder{
  color: #777272 !important;
}
.form-control:focus {
  border-color: #DA0037;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #DA0037;
}
input:-webkit-autofill,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #fff;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0.1s;
}
#contacts-list li{
  margin-bottom: 16px;
  font-size: 20px;
}
#quotes h4{
  font-size: 28px;
  font-style: italic;
}
#box-right{
  margin-top: 0;
}

/* responsive settings */
@media (min-width: 300px) {
  .box-body{
      height: max-content;
  }
  #project-buttons .p-2{
      padding-left: 0 !important;
      padding: 3px !important;
  }
  #hi{
      margin-top: 20px;
  }
  .ip{
      font-size: 12px;
  }
}
@media (min-width: 300px) and (max-width: 1200px){
  #box-right{
      margin-top: 32px;
  }
  
}
@media(min-width: 600px){
  .ip{
      font-size: 16px;
  }
}
@media(width: 992px){
  .prog-box{
    margin: 12px;
  }
}
@media(min-width:1400px){
  .prog-box{
    width: 290.5px;
    height: 270.5px;
  }
}
@media(min-width:1200px) and (max-width: 1399px){
  .prog-box{
    width:246.5px;
    height:226.5px
  }
}
@media(min-width: 577px) and (max-width: 768px){
  .prog-box{
    width: 225px;
    height: 205px; 
  }
}
@media(min-width: 470px) and (max-width: 576px){
  .prog-box{
    width: 195px;
    height: 165px
  }
}
@media(max-width: 469px){
  .prog-box{
    width: 405.5px;
  }
}







