@import 'bootstrap/dist/css/bootstrap.min.css';
@import './utility.scss';
@import './var.scss';

body {
  font-family: MarkProMedium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: $theme1bg;
  color: $theme1font;
}
.nav-link{
  font-family: MarkProMedium; 
  font-size: 18px;
}
/* profile section */
#profile-header{
  padding-top: 70px;
  padding-left: 52px !important;
  padding-right: 52px !important;
  margin-bottom: 40px;
}
#img-section img{
  border-radius: 5px;
}
// #profile-pict{
//   max-width: 380px;
//   max-height: 480px;
// }
#text-section h1{
  color: $theme1font;
  font-size: 52px;
}
#text-section p{
  font-size: 16px;
}

/* project section */
#projects{
  margin-top: 50px;
  padding-top: 20px;
  padding: 50px;
}
.tag-container{
  font-size: 16px;
  margin-top: 8px !important;
  margin-bottom: 6px !important;
}
.tag{
  margin-right: 8px;
}
#projects h2{
  font-size: 48px;
}
#projects h4{
  margin-top: 14px;
}
.project-img{
  max-width: 360px;
  max-height: 170px;
  border-radius: 2px;
  margin-bottom: 16px;
}
.project-items{
  text-align: left !important;
  margin: 22px 6px;
}
.project-items h4{
  font-size: 28px;

}
.project-items p{
  font-family: MarkPro;
  font-size: 16px;
}
.projectLink{
  color: $theme1font;
  text-decoration: none;
}
.projectLink:hover{
  text-decoration: underline;
  border-bottom: 1px solid $theme1border;
  color: $theme1font;
}
.box-body{
  height: 21vh;
  margin-bottom: 18px;
}
/* resume page */
.table-education{
  margin-top: 22px;
  font-size: 20px;
}
.td-org{
  width: 852px;
}
.td-org, .td-year{
  color: $theme1font;
}
.subheader-resume{
  margin-top: 56px;
}
.skill-box{
  margin-bottom: 32px;
}
.prog-box{
  margin: 14px;
  border: 1px solid $theme1border;
  border-radius: 5px;
  padding: 20px 20px;
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 203.5px;
  height: 191.5px; 
  // transition: background-color 0.2s ease-in-out;
}
.prog-box i{
  font-size: 54px;
}
.prog-box h4{
  position: relative;
  margin-top: 8px;
  text-align: center;
}
.prog-box h4::before{
  margin-top: 3px;
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
  width: 50px;
  height: 1px;
  background: #fff;
}

/* contact pages */
#contact-page{
  margin-top: 50px;
}
form .form-floating input, form .form-floating textarea{
  background: transparent !important;
  border-radius: 4px !important;
  color: $theme1font !important;
  margin-bottom: 20px;
}
form .form-floating input::placeholder, form .form-floating textarea::placeholder{
  color: #777272 !important;
}
.form-control:focus {
  border-color: $theme1Col1;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $theme1Col1;
}
input:-webkit-autofill,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid $theme1border;
  -webkit-text-fill-color: $theme1font;
  transition: background-color 5000s ease-in-out 0.1s;
}
#contacts-list li{
  margin-bottom: 16px;
  font-size: 20px;
}
#quotes h4{
  font-size: 28px;
  font-style: italic;
}
#box-right{
  margin-top: 0;
}

// not found page
.notFound{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.notFound h2{
  font-size: 64px;
}
.notFound p{
  font-size: 18px;
}

//project details
.projectContainer{
  min-height: 90vh;
}
.titleContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 48px;
}
.titleContainer h2{
  position: relative;
  font-size: 42px;
  margin-bottom: 0px !important;
}
.titleContainer h2::before{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 100px;
  height: 2px;
  background: $theme1Col1;
}
.details{
  display: flex;
  flex-direction: column;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.details p{
  text-align: center;
  font-size: 17px;
  padding: auto 50px;
}
.buttonContainer{
  display: flex;
  justify-content: center;
  align-self: center;
}
.buttonContainer .btnrs{
  margin: 8px;
  text-align: center;
}
.projectGallery{
  margin-top: 38px !important;
  margin: 30px;
}
.galleryItem{
  margin-top: 22px;
}
.galleryImg{
  max-height: 220px;
  box-shadow: 10px 10px 5px -7px rgba(255,255,255,0.16);
  -webkit-box-shadow: 10px 10px 5px -7px rgba(255,255,255,0.16);
  -moz-box-shadow: 10px 10px 5px -7px rgba(255,255,255,0.16);
  transition: all .2s ease-in-out;
}
.galleryImg:hover{
  transform: scale(1.03);
  transition: transform .4s ease-in-out;
  box-shadow: 10px 10px 5px -7px rgba(255,255,255,0.23);
  -webkit-box-shadow: 10px 10px 5px -7px rgba(255,255,255,0.23);
  -moz-box-shadow: 10px 10px 5px -7px rgba(255,255,255,0.23);
}
.imgCaption{
  text-align: center;
  margin-top: 12px;
}




// Responsive Settings //
@media (min-width: 300px) {
  .box-body{
      height: max-content;
  }
  #project-buttons .p-2{
      padding-left: 0 !important;
      padding: 3px !important;
  }
  #hi{
      margin-top: 20px;
  }
  .ip{
      font-size: 12px;
  }
  .projectContainer{
      margin-top: 35px !important;
      padding: 0px !important;
  }
  .details{
      padding: 30px;
  }
}
@media (min-width: 300px) and (max-width: 1200px){
  #box-right{
      margin-top: 32px;
  }
  
}
@media(min-width: 600px){
  .ip{
      font-size: 16px;
  }
}
@media(width: 992px){
  .prog-box{
    margin: 12px;
  }
}
@media(min-width:1400px){
  .prog-box{
    width: 290.5px;
    height: 270.5px;
  }
}
@media(min-width:1200px)and (max-width: 1399px){
  .prog-box{
    width:246.5px;
    height:226.5px
  }
  .buttonContainer{
    flex-direction: row;
  }
  .buttonContainer .btnr{
    margin: 8px;
  }
}
@media(min-width: 577px) and (max-width: 768px){
  .prog-box{
    width: 225px;
    height: 205px; 
  }
}
@media(min-width: 470px) and (max-width: 576px){
  .prog-box{
    width: 195px;
    height: 165px
  }
}
@media(max-width: 469px){
  .prog-box{
    width: 405.5px;
  }
  .buttonContainer{
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .buttonContainer .btnr{
    width: 100%;
    
  }
}









